/* #cheese_container {
    width: 8%;
}

.falling {
    animation: falling 20s infinite;
}

@keyframes falling {
    from {
        transform: translateY(-1100%);
    }
    to {
        transform: translateY(0%);
    }
} */