/* --------------------- TYPOGRAPHY --------------------- */

@font-face {
  font-family: "digital-mono";
  src: url("../fonts/digital-mono.ttf");
}

h1 {
  margin: 0;
  font-family: digital-mono;
  white-space: pre-wrap;
  font-weight: 100;
  padding: 0px;
  margin: 0px;
}

p {
  margin: 0;
  font-family: digital-mono;
  white-space: normal;
  padding: 0px;
  margin: 0px;
}

/* --------------------- SCREENS --------------------- */

body {
  margin: 0 0 0 0;
}

section {
  margin: 0 0 0 0;
}

#screen {
  position: relative;
  width: 99%;
  aspect-ratio: 16/9;
  border: 2px solid black;
  overflow: hidden;
}

#title_screen,
#instructions_screen,
#lose_screen,
#win_screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff0ca;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* --------------------- TIMER MENU --------------------- */

#display_title > h1 {
  font-size: 8vw;
  text-align: center;
}

#display_title > p {
  font-size: 4vw;
  text-align: center;
}

#display_instructions > h1 {
  font-size: 6vw;
  text-align: center;
}

#display_instructions > p {
  font-size: 1.6vw;
  text-align: center;
}

#display_lost > h1 {
  font-size: 8vw;
  text-align: center;
}

#display_lost > p {
  font-size: 2.2vw;
  text-align: center;
}

#display_won > h1 {
  font-size: 5.4vw;
  text-align: center;
}

#display_won > p {
  font-size: 2.2vw;
  text-align: center;
}

.timer_container {
  position: absolute;
  background-image: url("../graphics/timer_blank.svg");
  background-size: cover;
  width: 40%;
  aspect-ratio: 61/50;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#display_title,
#display_instructions,
#display_lost,
#display_won {
  margin-inline: 14%;
  /* margin-top: 13%; */
  height: 14vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---------------------- BUTTONS ---------------------- */

p {
  margin: 0;
  padding: 0;
  border: 0px;
  cursor: pointer;
}

#button_instructions {
  background-image: url(../graphics/button_instructions.svg);
}
#button_startgame {
  background-image: url(../graphics/button_start.svg);
}
#button_title {
  background-image: url(../graphics/button_return.svg);
}
#button_lost_title {
  background-image: url(../graphics/button_return.svg);
}
#button_win_title {
  background-image: url(../graphics/button_return.svg);
}

#button_instructions,
#button_startgame,
#button_title,
#button_lost_title,
#button_win_title {
  height: 6vw;
  aspect-ratio: 60/29;
  background-size: cover;
}

#title_buttons,
#instruction_buttons,
#lose__buttons,
#win__buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3vw;
}

#title_screen > p:active,
#instructions_screen > p:active,
#win_screen > p:active,
#lose_screen > p:active {
  transform: translate(2px, 3px);
  box-shadow: 0 0 #666;
  cursor: pointer;
}

/* --------------------- GAME --------------------- */
#game {
  position: absolute;
  width: 100%;
  height: 100%;
}

#game_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../graphics/game-background.svg");
  background-size: cover;
}

#game_middleground {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#eggtimer {
  position: absolute;
  background-image: url("../graphics/timer_blank.svg");
  background-size: cover;
  width: 16.5%;
  aspect-ratio: 61/50;
  top: 3%;
  left: 1%;
}

#button_pause {
  background-image: url(../graphics/button_pause.svg);
  height: 100%;
  aspect-ratio: 60/29;
  background-size: cover;
}

#button_sound {
  background-image: url(../graphics/button_sound-off.svg);
  height: 100%;
  aspect-ratio: 14/15;
  background-size: cover;
}
#ingame_buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8.5vw;
  height: 3.5vw;
}
display: flex;
justify-content: space-evenly;
margin-top: 3vw;

/* --------------------- HEALTH --------------------- */

.heart_full,
.heart_empty {
  background-size: cover;
  height: 100%;
  aspect-ratio: 167/150;
}

.heart_full {
  background-image: url("../graphics/heart-full.svg");
}

.heart_empty {
  background-image: url("../graphics/heart-empty.svg");
}

/* --------------------- GOOD ITEMS --------------------- */

#cheese_container,
#egg_container,
#popcorn_container {
  position: absolute;
  width: 7%;
  height: 25%;
}

#cheese_sprite {
  background-image: url("../graphics/item-good_cheese.svg");
  background-size: cover;
  width: 100%;
  aspect-ratio: 211/150;
}

#egg_sprite {
  background-image: url("../graphics/item-good_eggs.svg");
  background-size: cover;
  width: 100%;
  aspect-ratio: 5/6;
}

#popcorn_sprite {
  background-image: url("../graphics/item-good_popcorn.svg");
  background-size: cover;
  width: 100%;
  aspect-ratio: 7/6;
}

/* --------------------- BAD ITEMS --------------------- */

#bluecheese_container,
#candy_container,
#coffee_container {
  position: absolute;
  width: 7%;
  height: 25%;
}

#bluecheese_sprite {
  background-image: url("../graphics/item-bad_blue-cheese.svg");
  background-size: cover;
  width: 100%;
  aspect-ratio: 211/150;
}

#candy_sprite {
  background-image: url("../graphics/item-bad_candy.svg");
  background-size: cover;
  width: 100%;
  aspect-ratio: 19/30;
}

#coffee_sprite {
  background-image: url("../graphics/item-bad_coffee.svg");
  background-size: cover;
  width: 100%;
  aspect-ratio: 137/150;
}

/* --------------------- FOREGROUND --------------------- */

#game_foreground {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#game_ui {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#point_rat {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-size: cover;
  height: 30%;
  aspect-ratio: 89/150;
  background-image: url("../graphics/point_0.svg");
}

#life_board {
  position: absolute;
  top: 5%;
  right: 4%;
  text-align: right;
  height: 8%;
  width: 17%;
  display: flex;
  justify-content: space-between;
}

#time_board {
  font-family: "digital-mono";
  color: rgb(9, 9, 9);
  position: absolute;
  right: 86%;
  top: 8.5%;
  font-size: 5vw;
}

/* --------------------- ANIMATION --------------------- */

.hidden {
  visibility: hidden;
}

.pos1 {
  left: 10%;
  top: -20%;
}

.pos2 {
  left: 20%;
  top: -20%;
}

.pos3 {
  left: 30%;
  top: -20%;
}

.pos4 {
  left: 40%;
  top: -20%;
}

.pos5 {
  left: 50%;
  top: -20%;
}

.pos6 {
  left: 60%;
  top: -20%;
}

.pos7 {
  left: 70%;
  top: -20%;
}

.pos8 {
  left: 90%;
  top: -20%;
}

.falling1 {
  animation-name: falling;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.falling2 {
  animation-name: falling;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.falling3 {
  animation-name: falling;
  animation-duration: 8s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rotate {
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.stop {
  animation-play-state: paused;
}

@keyframes falling {
  to {
    transform: translateY(450%);
  }
}

@keyframes rotate {
  to {
    transform: rotate(361deg);
  }
}
